// Fonts
$mainFont: 'Poppins', sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$primary: #84d9bc;
$secondary: #313c4e; 
$transparentSecondary: rgb( 57 70 89 / .7 );
$black: #000;
$white: #FFFFFF;

// Units
$gutter: 2rem;
$sectionGutter: 4rem;